@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
* {
    font-family: 'Goldman', sans-serif;
}

.thisForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    display: flex;
    align-items: center;
    gap: 40px;
}