<app-header></app-header>
<div class="container">
    <div class="team">
       <h1><span id="o">O</span><span id="u">u</span><span id="r">r</span><span id="t">T</span><span id="e">e</span><span id="a">a</span><span id="m">m</span></h1>
       <div class="biography">
            <div class="first_person">
                <div class="photo">
                    <img src="../../../assets/nusha.jpg">
                </div>
                <div class="about_him">
                    <div class="name_surname">
                        <span>Vladislav Makhinin</span>
                    </div>
                    <div class="something">
                        <p>Main Developer of web-site. PRO-335 student. Was born in Nizhnevartovsk city in 2003.<br>I love gym so mush.
                        <br>My dream is to become strong as Arnold Schwarzenegger, but for this i need trenbolone.<br>Buy trenbolone for me, please.
                        </p>
                    </div>
                    <div class="pers_social_networks">
                        <div class="pers_vk">
                            <a href="#"><i class='bx bxl-vk'></i></a>
                        </div>
                        <div class="pers_youtube">
                            <a href="#"><i class='bx bxl-youtube' ></i></a>
                        </div>
                        <div class="pres_github">
                            <a href="#"><i class='bx bxl-github' ></i></a>
                        </div>
                        <div class="pers_sound-cloud">
                            <a href="#"><i class='bx bxl-soundcloud'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second_person">
                <div class="photo">
                    <img src="../../../assets/sueta.jpg">
                </div>
                <div class="about_him">
                    <div class="name_surname">
                        <span>Bedokurov Igor</span>
                    </div>
                    <div class="something">
                        <p>Suetolog from Sibay</p>
                    </div>
                    <div class="pers_social_networks">
                        <div class="pers_vk">
                            <a href="https://vk.com/igorekbedokurov"><i class='bx bxl-vk'></i></a>
                        </div>
                        <div class="pers_youtube">
                            <a href="#"><i class='bx bxl-youtube' ></i></a>
                        </div>
                        <div class="pres_github">
                            <a href="#"><i class='bx bxl-github' ></i></a>
                        </div>
                    </div>
                </div> 
            </div>
       </div>
    </div>
</div>
