<form class="thisForm" [formGroup]="myForm">
    <h2 mat-dialog-title>Input new info about you</h2>
      <mat-dialog-content class="input_fields">
        <mat-form-field>
          <input matInput placeholder="Input old Password" formControlName="oldPassword">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Input new password" formControlName="newPassword">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Repeat new password" formControlName="newPasswordRepeat">
        </mat-form-field>
      </mat-dialog-content>
    <mat-dialog-actions class="btns">
      <button mat-flat-button color="primary" (click)="sendForm()" [disabled]="myForm.invalid">Send</button>
      <button mat-flat-button color="primary" (click)="closeForm()">Cancel</button>
    </mat-dialog-actions>
  </form>
