<form class="thisForm" [formGroup]="testDriveForm">
    <h2 mat-dialog-title>Confirm sign up for a Test Drive</h2>
    <mat-dialog-content class="input_fields">
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="btns">
        <button mat-flat-button color="primary" (click)="confirmSignUpForTestDrive()">Confirm</button>
        <button mat-flat-button color="primary" (click)="closeForm()">Cancel</button>
    </mat-dialog-actions>
</form>


